@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

* {
  font-family: "Mochiy Pop One", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff8f5;
  display: grid;
  place-items: center;
}

.container {
  margin-top: 50px;
  width: 500px;
  max-height: 700px;
  border-radius: 20px;
  background-color: #e1b168;
  padding: 10px;
}

h1 {
  margin-bottom: 20px;
}

.calculator {
  width: 300px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 80%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

p {
  margin-top: 20px;
  font-weight: bold;
}

.output {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.luas-btn,
.keliling-btn,
.reset-btn {
  margin-top: 10px;
}

#areaOutput,
#perimeterOutput {
  text-align: left;
}
